@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default Style  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;;
}
.container{
    max-width: 1280px;
    padding: 2px 10px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Header Style */
.nav-conetent{

    width: 100%;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo h1{
    padding-left: 8px;
    font-size: 35px;
}
logo h1 span{
    color: #FF42A5;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items li{
    list-style-type: none;
    padding: 0px 15px;
}
.flw-btn{
    display: flex;
    justify-content: center;
    align-items: none;
    color: #000;
    background-color: #0000001a;
    padding: 12px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.flw-btn-icon{
    padding-left: 12px;
}
.flw-btn-icon i{
    
    font-size: 16px;
    padding-right: 6px;
}
.flw-btn:hover{
    color: #F948B2;
    transition: .2s all ease-in-out;
    background-color: #0B0223;
}

@media only screen and (max-width: 600px) {
    header {
        height: auto;
        width: 100%;
    }

    .nav-conetent {
        flex-direction: column;
    }

    .nav-items {
        margin: 25px 0px;
        flex-direction: column;
    }

    .nav-items li {
        padding: 20px 0px;
    }
}

/* Banner Part Style */
section{
    padding: 50px 0px;
}
.banner-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0px;
}

.banner-tilte h2 {
    font-size: 46px;
    padding: 5px 0px;
    text-transform: uppercase;
}

.banner-tilte h1 {
    font-size: 64px;
    text-transform: uppercase;
    color: #F948B2;
    padding: 10px 0px;
}

.feturs-item {
    padding: 15px 0px;
}

.btn-rgl {
    text-transform: uppercase;
    padding: 16px 26px;
    border: none;
    border-radius: 50px;
    margin: 0px 5px;
    background-color: #FF42A5;
    color: white;
    cursor: pointer;
}
.banner-img{
    width: 50%;
}
.banner-img img{
    width: 100%;
}

/* Banner Responsive */
@media only screen and (max-width: 600px) {
    .banner-content {
        flex-direction: column-reverse;
    }

    .banner-tilte {
        padding: 60px 0px;
    }
}


/* Style game part */
.gamer-part{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0px;
}
.gamer-cover{
    width: 60%;
}
.gamer-cover img{
    width: 95%;
    margin-left: 0;
}
.gamer-des{
    width: 40%;
    text-align: end;
}

.gamer-des h1{
    font-size: 36px;
    padding: 10px 0px;
}
.gamer-des p{
    padding-bottom: 20px;
    line-height: 23px;
    letter-spacing: 1.5px;
    font-size: 15px;
}
.qoutation{
    margin-top: 15px;
}
.qoutation h5{
    font-size: 18px;
    padding-bottom: 10px;
}

/* Banner Responsive */
@media only screen and (max-width: 600px) {
   .gamer-part{
    width: 100%;
    flex-direction: column;
    padding: 0px 5px;
   }
   .gamer-cover{
    width: 100%;
   }
   .gamer-des{
    width: 100%;
    text-align: center;
   }
}

/* Online games part style */
.online-games-wrapper{
    width: 100%;
    overflow: hidden;
}
.online-games-title{
    text-align: center;
    padding: 50px 5px;
}
.online-games-title h1{
    font-size: 38px;
    padding-bottom: 25px;
}
.online-games-title h1 span{
    color: #F948B2;
}
.online-games-title p{
    font-size: 15px;
}
.games-box{
    width: 100%;
    display: flex;
    padding-bottom: 45px;
    justify-content: space-between;
    cursor: pointer;
}

.single-game-box{
    width: 23%;
    position: relative;
}
.single-game-box p{
    font-size: 14px;
    margin-top: 25px;
    padding: 0px 5px;
    line-height: 23px;
    text-align: left;
}
.single-game-box img{
    width: 100%;
    border-radius: 15px;
    outline: none;
}
.watch-now{
    text-align: center;
    position: absolute;
    top: 30%;
    left: 35%;
    
}
.watch-now i{
    color: white;
    font-size: 36px;
    padding-bottom: 10px;
}
.watch-now span h4{
    color: #FF42A5;
}
.single-game-box img:hover{
    width: 98%;
    transition: 0.2s all ease-in-out;
    border: 3px solid #FF42A5;
}

.poster-wraper{
    width: 100%;
    padding: 60px 5px;
    overflow: hidden;
}

.poster{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 0px;
}

.poster-des{
    width: 30%;    
}

.poster-des h1{
    font-size: 42px;
    padding: 30px 0px;
}

.poster-des h1 span{
    color: #FF42A5;
}

.posterOne{
    text-align: end;
}
.posterTwo{
    text-align: start;
}

.poster-banner{
    width: 65%;
}

.poster-banner img{
    width: 75%;
    margin: 0 auto;
}

/* Careers part style */
#careers-wrapper-part{
    width: 100%;
    overflow: hidden;
    color: white;
    
}
.careers-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    background-color: #FF42A5;
    
}
.careers-contents{
    width: 50%;
}
.careers-contents h2{
    font-size: 36px;
    padding: 20px 0px;
}
.careers-contents p{
    font-size: 15px;
    line-height: 25px;
    text-align: justify;
}
.careers-img{
    width: 50%;
}
.careers-img img{
    width: 100%;
}
.positn-btn{
    color: #FF42A5;
    font-size: 14px;
    padding: 15px 22px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 25px;
    outline: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
}


/* Games categorys list  */

.games-categorys-list{
    width: 100%;
    overflow: hidden;
    padding: 40px 10px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 20%);
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.games-name-btn{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(250, 249, 249);
    border-radius: 50px;
    cursor: pointer;
    padding: 0px 13px;
    margin: 15px 0px;
    border: none;

}
.games-name-btn img{
    width: 40px;
    padding: 8px 4px;
}

.games-name-btn:hover{
    color: #F948B2;
    border: 1px solid #F948B2;
}



/* footer style  */
footer{
    color: white;
    background-color: #0B0223;
    padding: 40px 10px;
    text-align: center;
}
.footer-short-link{
    padding: 40px 0px;
}
.footer-short-link a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 0px 25px;
    line-height: 26px;
}
.footer-short-link a:hover{
    color: #F948B2;
}

.social-list a i{
    color: white;
    padding: 0px 15px;
    font-size: 30px;
}
.social-list a i:hover{
    color: #F948B2;
}

.copyright{
    font-size: 12px;
    color: gainsboro;
}