@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Default Style  */
*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;;
}
.container{
    max-width: 1180px;
    padding: 5px 10px;
    margin: 0 auto;
    box-sizing: border-box;
}


/* Header Style */

.nav-conetent{

    width: 100%;
    padding: 20px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-logo h1{
    padding-left: 8px;
    font-size: 35px;
}
.nav-logo h1 span{
    color: #FF42A5;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-items li{
    padding: 0px 15px;
}
.flw-btn{
    display: flex;
    justify-content: center;
    align-items: none;color: #000;
    padding: 15px 16px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.flw-btn-icon{
    padding-left: 15px;
}
.flw-btn-icon i{
    font-size: 16px;
    padding-right: 8px;
    color: red;
}

/* Header Responsive Style */
/* For Mobile Views */
@media only screen and (max-width: 600px) {
    header {
            height: auto;
            width: 100%;
        }

    .nav-conetent{
        flex-direction: column;
    }
        .nav-items{
            margin: 25px 0px;
            flex-direction: column;
        }
        .nav-items li{
            padding: 20px 0px;
        }
}

/* Banner Part Style */
.banner-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.banner-tilte h2{
    font-size: 46px;
    padding: 5px 0px;
    text-transform: uppercase;
}
.banner-tilte h1{
    font-size: 64px;
    text-transform: uppercase;
    color: #F948B2;
    padding: 10px 0px;
}

.feturs-item{
    padding: 15px 0px;
}

.btn-rgl{
    text-transform: uppercase;    padding: 16px 26px;
    border: none;
    border-radius: 50px;
    margin: 0px 5px;
    background-color: #FF42A5;
    color: white;
    cursor: pointer;
}

/* Banner Responsive */
@media only screen and (max-width: 600px) {
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-tilte {
        padding: 60px 0px;
    }

}